
<ion-view cache-view="false" view-title="#{{titleName}}" ng-controller="AlbumCtrl">

    <ion-content>
        <ion-refresher
                pulling-text="새로고침"
                on-refresh="loadNew()">
        </ion-refresher>

        <div class="list">

            <button ng-click="write()" class="button button-full button-stable">
                <i class="ion-compose"></i> 글쓰기
            </button>

            <div ng-click="album_detail(post.id)" class="card" ng-repeat="post in posts">

                <div class="item item-avatar">
                    <img ng-src="{{'http://52.78.208.21/'+post.users.picture}}">
                    <h2>{{post.users.name}}</h2>
                    <p>{{post.created_at}}</p>
                    <p>{{post.users.email}}</p>
                </div>

                <div class="item item-body">
                    <img class="full-image" ng-src="{{'http://52.78.208.21/'+post.picture}}">
                    <p>
                        {{post.message}}
                    </p>
                    <p>
                        <a href="#" class="subdued">{{post.likes_count}} Like</a>
                        <a href="#" class="subdued">{{post.comments_count}} Comments</a>
                    </p>
                </div>

            </div>
            <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="moreDataCanBeLoaded">
            </ion-infinite-scroll>
        </div>
    </ion-content>


    <!---->
    <!--<ion-content>-->

    <!--<div class="row">-->

    <!--<div class="image col col-33">-->
    <!--<img class="album-img" src="img/ionic.png">-->
    <!--</div>-->
    <!--<div class="image col col-33">-->
    <!--<img src="img/ionic.png">-->
    <!--</div>-->
    <!--<div class="image col col-33">-->
    <!--<img src="img/ionic.png">-->
    <!--</div>-->
    <!--</div>-->


    <!--</ion-content>-->
</ion-view>