<ion-view view-title="#{{titleName}}" ng-controller="AlbumDetailCtrl">

    <ion-content>
        <ion-refresher
                pulling-text="PULLPULLPULLPULL"
                on-refresh="loadNew()">
        </ion-refresher>

        <div class="list">


                <div class="item item-avatar">

                    <img src="{{'http://52.78.208.21/'+post.users.picture}}">
                    <button ng-click="destroy()" ng-if="mine" style="color:#ef473a; float:right" class="ion-minus-circled button icon button-icon ng-binding">
                    </button>
                    <h2>{{ post.users.name }}</h2>
                    <p>{{ post.created_at }}</p>

                </div>







            <div class="item item-body">
                <img class="full-image" ng-src="{{'http://52.78.208.21/'+post.picture}}">
                <p>
                    {{ post.message }}
                </p>
                <p>
                    <a ng-if="hash_tag.tag != ''" ng-repeat="hash_tag in post.hash_tags">
                        #{{hash_tag.tag+' '}}
                    </a>
                </p>
                <p>
                    <a ng-click="likeFunction()" class="subdued"><i
                            ng-class="{'ion-ios-heart':like==true, 'ion-ios-heart-outline':like==false}"></i>
                        {{post.likes.length}} 좋아요</a>
                    <a class="subdued">{{post.comments.length}} 댓글</a>
                </p>
            </div>


            <div class="item item-input-inset item-avatar">


                <img ng-src="{{'http://52.78.208.21/' + profile_data.picture}}">
                <label style="margin-left:15%" class="item-input-wrapper">
                    <input ng-model="commentInput.data" style="width:100%" type="text" placeholder="댓글">
                </label>
                <button ng-click="commentSubmit()" class="button button-small">
                    전송
                </button>
            </div>


            <ion-list show-delete="shouldShowDelete"
                      can-swipe="listCanSwipe">
                <ion-item class="item item-avatar" ng-repeat="comment in comments">

                    <img ng-src="{{'http://52.78.208.21/' + comment.users.picture}}">
                    <h2>{{ comment.users.name}}</h2>
                    <p>{{ comment.users.email}}</p>
                    <h3 style="white-space: normal">{{ comment.message }}</h3>
                    <ion-option-button class="button-assertive"
                                       ng-click="deleteComment(comment.id)">
                        삭제
                    </ion-option-button>
                </ion-item>
            </ion-list>


        </div>

        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="moreDataCanBeLoaded">
        </ion-infinite-scroll>


    </ion-content>


    <!---->
    <!--<ion-content>-->

    <!--<div class="row">-->

    <!--<div class="image col col-33">-->
    <!--<img class="album-img" src="img/ionic.png">-->
    <!--</div>-->
    <!--<div class="image col col-33">-->
    <!--<img src="img/ionic.png">-->
    <!--</div>-->
    <!--<div class="image col col-33">-->
    <!--<img src="img/ionic.png">-->
    <!--</div>-->
    <!--</div>-->


    <!--</ion-content>-->
</ion-view>