<ion-view view-title="할 일 입력" ng-controller="AlbumDetailCtrl">

    <ion-content>
        <ion-refresher
                pulling-text="PULLPULLPULLPULL"
                on-refresh="loadNew()">
        </ion-refresher>

        <div class="list">

            <div class="item item-avatar">
                <img src="img/ionic.png">
                <h2>{{ post.users.name }}</h2>
                <p>{{ post.created_at }}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" ng-src="{{'http://52.78.208.21'+post.picture}}">
                <p>
                    {{ post.message }}
                </p>
                <p>
                    <a href="#" class="subdued"><i class="ion-ios-heart-outline"></i>  {{post.likes.length}} 좋아요</a>
                    <a href="#" class="subdued">{{post.comments.length}} 댓글</a>
                </p>
            </div>


            <a ng-repeat="comment in post.comments" class="item item-avatar" href="#">
                <img src="img/ionic.png">
                <h2>{{ comment.users.name}}</h2>
                <p>{{ comment.users.email}}</p>
                <h3 style="white-space: normal">{{ comment.message }}</h3>
            </a>



        </div>

        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="moreDataCanBeLoaded">
        </ion-infinite-scroll>


    </ion-content>


    <!---->
    <!--<ion-content>-->

    <!--<div class="row">-->

    <!--<div class="image col col-33">-->
    <!--<img class="album-img" src="img/ionic.png">-->
    <!--</div>-->
    <!--<div class="image col col-33">-->
    <!--<img src="img/ionic.png">-->
    <!--</div>-->
    <!--<div class="image col col-33">-->
    <!--<img src="img/ionic.png">-->
    <!--</div>-->
    <!--</div>-->


    <!--</ion-content>-->
</ion-view>