<script src="../../plugins/cordova-plugin-facebook4/www/facebook-browser.js"></script>
<ion-view view-title="#{{titleName}}" ng-controller="ChatCtrl">


    <ion-content class="content-stable"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true"
                 overflow-scroll="false"
                 ng-focus="inputDown()"
    >
        <ion-refresher
                pulling-text="새로고침"
                on-refresh="loadNew()">
        </ion-refresher>


        <div ng-repeat="message in chats"
             ng-class="{other: message.api_token == my_api_token}"
             class="messages ">

            <!--<div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">-->
            <div class="message">

                <img ng-src="{{'http://13.124.56.52/' + message.picture}}"
                     ng-class="{other_img: message.api_token == my_api_token, chat_img:message.api_token != my_api_token}">


                <div class="message_user_name">{{ message.user_name }}</div>

                <span class="msg">{{ message.text }}</span>


            </div>

            <!--<div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</div>-->


        </div>


    </ion-content>



    <ion-footer-bar ng-if="ios" keyboard-attach class="bar-stable item-input-inset">

        <form style="width:100%; height:100%" ng-submit="sendMessage()">
            <div style="margin:0; padding:0" class="row">
                <div style="margin:0; padding:0" class="col col-80">
                    <label class="item-input-wrapper">

                        <input type="text" ng-return="closeKeyboard()" ng-click="inputUp()"
                               ng-model="data.message" ng-focus="inputUp()" ng-blur="inputDown()" value=""
                               placeholder="">
                        </input>
                    </label>
                </div>

                <!--<textarea ng-model="data.message" value="" placeholder="Send {{toUser.username}} a message..." required-->
                <!--minlength="1" maxlength="1500" msd-elastic></textarea>-->

                <div style="margin:0; padding:0; text-align: center; margin-top:-4px;" class="col">
                    <button ng-class="{disabled: sending}" class="button button-clear" for="submit">
                        전송
                    </button>
                </div>
            </div>

        </form>
    </ion-footer-bar>
    <ion-footer-bar ng-if="!ios" class="bar-stable item-input-inset">

        <form style="width:100%; height:100%" ng-submit="sendMessage()">
            <div style="margin:0; padding:0" class="row">
                <div style="margin:0; padding:0" class="col col-80">
                    <label class="item-input-wrapper">

                        <input type="text" ng-return="closeKeyboard()" ng-click="inputUp()"
                               ng-model="data.message" ng-focus="inputUp()" ng-blur="inputDown()" value=""
                               placeholder="">
                        </input>
                    </label>
                </div>

                <!--<textarea ng-model="data.message" value="" placeholder="Send {{toUser.username}} a message..." required-->
                <!--minlength="1" maxlength="1500" msd-elastic></textarea>-->

                <div style="margin:0; padding:0; text-align: center; margin-top:-4px;" class="col">
                    <button ng-class="{disabled: sending}" class="button button-clear" for="submit">
                        전송
                    </button>
                </div>
            </div>

        </form>
    </ion-footer-bar>



</ion-view>

