<ion-view view-title="#{{titleName}}" ng-controller="ListCtrl">
    <ion-content>


        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-pound placeholder-icon"></i>
                <input ng-change="search_change()" ng-model="search_text.text" type="text" placeholder="Search">
            </label>
        </div>

        <img ng-if="!search" class="full-image" ng-src="{{ 'http://52.78.208.21' + picture.addr }}">

        <div ng-repeat="hashtag in hashtags">
            <div ng-if="$even" class="row">
                <div class="col col-50">
                    <button ng-click="changeTag(hashtags[$index].tag)" class="button button-full button-stable">
                        #{{ hashtags[$index].tag }}
                    </button>
                </div>
                <div ng-if="hashtags[$index+1].tag" class="col col-50">
                    <button ng-click="changeTag(hashtags[$index+1].tag)" class="button button-full button-stable">
                        #{{ hashtags[$index+1].tag }}
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
    <!--<div class="bar bar-footer bar-stable">-->

    <!--<a href="#/add" class="button button-calm icon-left ion-compose ">-->
    <!--add </a>-->
    <!--<button class="button button-assertive icon-left ion-shuffle" ng-click="toggleReorder()">정렬</button>-->
    <!--</div>-->


</ion-view>
