<ion-view view-title="목록" ng-controller="ListCtrl">


    <ion-content>


        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-pound placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>

        <img class="full-image" ng-src="{{ 'http://52.78.208.21' + picture }}">

        <div ng-repeat="hashtag in hashtags">
            <div v-if="$even" class="row">
                <div class="col col-50">
                    <button class="button button-full button-stable">
                        #{{ hashtags[$index].tag }}
                    </button>
                </div>
                <div class="col col-50">
                    <button class="button button-full button-stable">
                        #{{ hashtags[$index+1].tag }}
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
    <!--<div class="bar bar-footer bar-stable">-->

    <!--<a href="#/add" class="button button-calm icon-left ion-compose ">-->
    <!--add </a>-->
    <!--<button class="button button-assertive icon-left ion-shuffle" ng-click="toggleReorder()">정렬</button>-->
    <!--</div>-->


</ion-view>
