<ion-view view-title="로그인" ng-controller="LoginCtrl">



    <ion-content>
        <div class="list">
            <a class="item item-icon-left" href="#/tab/login_anony">
                <i class="icon ion-person"></i>
                익명 로그인
            </a>

            <a class="item item-icon-left" ng-click="notready('인스타그램')">
                <i class="icon ion-social-instagram"></i>
                인스타그램 로그인

            </a>

            <a class="item item-icon-left" ng-click="notready('페이스북')">
                <i class="icon ion-social-facebook"></i>
                페이스북 로그인

            </a>

            <a class="item item-icon-left" ng-click="notready('네이버')">
                <i class="icon ion-person-stalker"></i>
                네이버 로그인

            </a>

        </div>
    </ion-content>


</ion-view>
