<ion-view view-title="로그인" ng-controller="AnonyCtrl">


    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">이름</span>
                <input type="text" placeholder="홍길동">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">이메일</span>
                <input type="text" placeholder="example@example.com">
            </label>



        </div>
        <div class="padding">
            <button class="button button-block button-positive">로그인</button>
        </div>
    </ion-content>


</ion-view>
