
<script src="../js/login-data.js"></script>
<ion-view view-title="목록" ng-controller="ProfileCtrl">


    <ion-content>

        <div class="list">


            <div class="item item-divider">
                내 프로필
            </div>

            <label class="item item-input item-stacked-label">
                <span class="input-label">이름</span>
                <input type="text" ng-model="profile_data.name">

            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">이메일</span>
                <input type="text" ng-model="profile_data.email">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">프로필 사진</span>
                <br>
                <button class="button icon-left ion-camera" ng-click="loadImage()">사진 등록</button>

                <!--<input id="pictures" ng-click="getImage()" ng-file="create_data.picture" name="picture" type="file" accept="image/*;capture=camera">-->
                <br>
                <img ng-if="new_image_there" style="width:50%" ng-src="{{pathForImage(image)}}">
                <br>
                <img ng-if="!new_image_there" style="width:50%" ng-src="{{'http://52.78.208.21/'+profile_data.picture}}">
            </label>

            <div class="padding">
                <button type="submit" class="button button-block button-positive" ng-click="uploadImage()">수정</button>
            </div>
            <div ng-if="profile_data.loggedin" class="padding">
                <button class="button button-block button-assertive" ng-click="logout()">로그아웃</button>
            </div>

        </div>


    </ion-content>


</ion-view>
