<script src="../js/app.js"></script>
<ion-view view-title="설정" cache-view="false" ng-controller="SettingCtrl">


    <ion-content>


        <a class="list">
            <a ng-click="login_or_profile()" class="item item-avatar">

                <img ng-src="{{'http://13.124.56.52/'+picture}}">
                <h2>{{ name }}</h2>
                <p>{{ email }}</p>
                <i class="arrow ion-chevron-right"></i>

            </a>

            <!--<a class="item item-thumbnail-left" href="#/tab/login">-->
            <!--<img src="img/ionic.png">-->
            <!--<h2>Pretty Hate Machine</h2>-->
            <!--<p>Nine Inch Nails</p>-->
            <!--</a>-->

            <div class="item item-divider">
                내가 올린 글
            </div>

            <ion-refresher
                    pulling-text="새로고침"
                    on-refresh="loadNew()">
            </ion-refresher>

            <div class="list">

                <div ng-click="album_detail(post.id)" class="card" ng-repeat="post in posts">

                    <div class="item item-avatar">
                        <img ng-src="{{'http://13.124.56.52/'+post.users.picture}}">
                        <h2>{{post.users.name}}</h2>
                        <p>{{post.created_at}}</p>
                        <p>{{post.users.email}}</p>
                    </div>

                    <div class="item item-body">
                        <img class="full-image" ng-src="{{'http://13.124.56.52/'+post.picture}}">
                        <p>
                            {{post.message}}
                        </p>
                        <p>
                            <a ng-if="hash_tag.tag != ''" ng-repeat="hash_tag in post.hash_tags">
                                #{{hash_tag.tag+' '}}
                            </a>
                        </p>
                        <p>
                            <a class="subdued">{{post.likes_count}} Like</a>
                            <a class="subdued">{{post.comments_count}} Comments</a>
                        </p>
                    </div>

                </div>


            </div>

            <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="moreDataCanBeLoaded">
            </ion-infinite-scroll>


        </a>

    </ion-content>


</ion-view>
